.container {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    background: lightgreen;
    height: 180px;
    width: 150px
}

/* .playerPosition {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    background: lightgreen;
    height: 180px;
    width: 150px
} */