.player-container {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    background: lightgreen;
    height: 180px;
    width: 150px
}

.opponent-container {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    background: darkgreen;
    height: 180px;
    width: 150px
}

.playSnap {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
}

.testButton {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
}