/* move related elements nearer each other */

.App {
    position: relative
}

.main-title {
    text-align: center
}

.message-centre {
    position: fixed;
    top: 15%;
    left: 50%;
    height: 40px;
    width: 200px;
    margin-top: -20px;
    margin-left: -100px;
}

.turn-message {
    text-align: center;
}

.winner-message {
    text-align: center;
}

.player-container {
    height: 180px;
    width: 150px;
    position: fixed;
    top: 40%;
    left: 20%;
    margin-top: -90px;
    margin-left: -75px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center
}

.cards-remaining {
    position: absolute;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.65;
}

.opponent-cards-remaining {
    position: absolute;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.65;
}

.playCard {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

.opponent-container {
    height: 180px;
    width: 150px;
    position: fixed;
    top: 40%;
    left: 80%;
    margin-top: -90px;
    margin-left: -75px;
    border-style: solid;
    border-color: black;
    border-width: 1px
}

.cards-played {
    position: fixed;
    top: 43%;
    left: 50%;
    height: 180px;
    width: 150px;
    /* negative margin-top of half the height, negative margin-left of half the width the centre the component */
    /* otherwise the top left corner is centered */
    margin-top: -90px;
    margin-left: -75px;
}

.card {
    display: block;
    margin: auto;
    width: 80%;
    height: 90%;
}

.play-snap {
    /* border-radius: 25px; */
    border-style: solid;
    border-color: black;
    position: fixed;
    /* top: 5%; */
    /* left: 50%; */
    height: 40px;
    width: 120px;
    /* margin-top: -20px;
    margin-left: -60px; */
    font-size: 20px;
    color: white;
    background-color: black;
}

.check-for-win {
    height: 40px;
    width: 140px;
    position: fixed;
    top: 25%;
    left: 65%;
    margin-top: -50px;
    margin-left: -100px;
}

.check-for-win-button {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    position: fixed;
    color: white;
    background-color: black;
    height: 40px;
    width: 120px;
    font-size: 20px;
}

.player-deck-top {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.opponent-deck-top {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* use this to move header across */
.player-header {
    position: absolute
}

.opponent-header {
    position: absolute
}